.border {
  border: purple solid 2px;
  width: 100%;
  min-height: 3em;
}

/* box */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_left {
  min-width: 15rem;
  word-wrap: break-word;
  padding: 2rem;
  /* border: purple solid 2px; */
}

.box_right {
  display: flex;
  padding: 2rem;
  gap: 10px;
  /* border: green solid 2px; */
}

.box a {
  /* border: gold solid 2px; */
  background-color: hotpink;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.box img {
  min-width: 1rem;
  width: 100%;
  height: auto;
}

/* edit */
.edit {
  padding: 2rem;
}

.edit_fieldset {
  border: none;
}

.edit_p {
  margin: 1rem 0;
}

.edit_label {
  display: block;
  font-weight: bold;
}

.edit_input {
  border-radius: 15px;
  border-width: 2px;
  width: 100%;
}

.edit_buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.edit_button {
  padding: 0.2em;
  border-radius: 15px;
  font-weight: bold;
}

/* delete */
.delete {
  padding: 1.5rem 0;
  text-align: center;
}

.delete p {
  padding: 1rem 0 2rem 0;
}

.delete a {
  text-decoration: none;
  color: hotpink;
  border: hotpink solid 2px;
  border-radius: 15px;
  margin: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
}

.delete a:hover {
  color: pink;
  border: pink solid 2px;
}
